h1,
h2,
h3,
h4,
p,
body {
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
}

body {
    background-color: #e3e6e6;
}

* {
    box-sizing: border-box;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next,
.carousel-control .icon-prev {
    margin-top: -170px;
}

.nav-link {
    color: white;
}

.h-100 {
    height: 100%;
}

.top-80 {
    top: 80%;
}

.width-32 {
    width: 23%;
}


.flex-wrap {
    flex-wrap: wrap;
}


.div1 {
    width: 45%;
}

.div1 img {
    height: 130px;
}

.mt-6 {
    margin-top: 360px;
}

.img-h100 {
    height: 250px;
}


.bg-color {
    background-color: #37475a;
    color: #ffffff;
    padding: 15px;
    font-weight: 500;
}

.icon-bg {
    right: 25.9%;
    top: 12;
    font-size: 1.5rem;
    padding: 5px;
}

.footer {
    background-color: #232f3e;
    color: #ffffff;
}

.h-550 {
    height: 650px;
}

.cus-fs {
    font-size: .9rem;
}

.w-32 {
    width: 32%;
}

.w-80 {
    width: 55%;
}

.w-20 {
    width: 12%;
}

.navbar-brand {
    width: 170px;
}

.container {
    max-width: 100%;
}

a.hover-white:hover, a.hover-white:focus, a.hover-white:active {
    color: white;
}

.w-65 {
    width: 65%;
}

.icp-nav-flag {
    width: 24px;
    position: relative;
    display: inline-block;
    height: 18px;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 3px;
    background-image: url(https://m.media-amazon.com/images/S/sash/Z8YwjOjqIHxqujG.png);
    background-position: 0 166px;
}

.nav-cart-icon {
    display: flex;
    background-image: url(https://m.media-amazon.com/images/G/31/gno/sprites/nav-sprite-global-1x-reorg-privacy._CB600086755_.png);
    background-repeat: repeat-x;
    background-position: -10px -340px;
    width: 38px;
    height: 26px;
}

@media only screen and (max-width: 992px) {}

@media only screen and (max-width: 768px) {

    .width-32 {
        width: 45%;
    }

    .top-80 {
        top: 50%;
    }

    .hide {
        display: none;
    }



}

@media only screen and (max-width: 600px) {

    .width-32 {
        width: 90%;
    }



}